// _variables.scss

// ================ colors ===================
$tomato: tomato;
$blue: #2185d0;
$green: #3D9B46;
$black: #323232;
$gary: #ddd;
$theme-color: $green;

// ================ font ===================
$font-family: '微软雅黑';
$font-size: 16px;
$font-color: #8b8b8b;

